/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	border: 1px dotted Gray;
}

body {
	width: 876px;
	margin: 0 auto;
}

nav , header, section , footer {
	width: 100%;
}

section {
	margin: 40px 0;
	padding: 40px 0;
}

footer {
	text-align: center;
}

h1 {
	font-size: 72px;
	text-align: center;
}

h2 {
	font-size: 16px;
}

p {
	line-height: 1.15em;
}

.cols-1, .cols-2 , .cols-3 {
	display: inline-block;
}
.cols-1 {
	width: 100%;
}
.cols-2 {
	width: 49%;
}
.cols-3 {
	width: 33%;
}

a.button {
	display: inline-block;
	text-align: center;
}

section.part-1 {
	border-top: 1px solid Black;
}

img.middle-img {
	margin: 0 auto;
}

section.part-2 {
	border-bottom: 1px solid Black;
}